.btn {
    margin-bottom: 0.75em;

    display: inline-block;
    width: 100%;
    max-width: 17.25em;
    height: 2.5em;

    padding: 0;
    border: 0;
    background: none;

    font-size: 1.06rem;

    border-radius: .75em;
    background-color: $gray;

    &:hover {
        background-color: $yellow-orange;
    }
}