.btn {
    margin-bottom: .75em;

    display: inline-block;
    width: 100%;
    max-width: 17.25em;
    height: 2.5em;

    padding: 0;
    border: 0;
    background: none;

    font-size: 1.06rem;

    border-radius: .75em;
    background-color: $gray;

    transition: background-color .2s linear;

    &--close {
        position: absolute;
        top: 1.6rem;
        right: 2.93rem;

        margin-bottom: 0;
        width: 1.6rem;
        height: 1.6rem;

        font-size: 0;
        
        background: none;
        border-radius: 0;

        transition: transform .2s linear;

        &:hover {
            transform: translateY(- .06rem);
        }
    }

    &--orange {
        max-width: 100%;

        color: $white;
        background-color: $orange;
    }

    &:hover:not(&--close) {
        background-color: $yellow-orange;
    }

    &--modal {
        margin-bottom: 0;
    }
}