.footer {
  margin-top: 4.666rem;
  padding: 3.4rem 0 2.666rem;

  background-color: $white;

  @include breakpoint($extra-small) {
    margin-top: 4rem;
    padding: 2.666rem 0 1.733rem;
  }

  @include breakpoint($mobile) {
    padding: 1.6rem 0 1.733rem;
  }

  &__link {
    display: block;
    width: 20rem;
    height: 3.866rem;

    & img {
      width: 100%;
      height: 100%;
    }

    @include breakpoint($large-tablets) {
      margin-bottom: 2.4rem;
    }

    @include breakpoint($extra-small) {
      width: 13.066rem;
      height: 2.533rem;
    }

    @include breakpoint($mobile) {
      margin-bottom: 1.6rem;
    }
  }

  &__info {
    @include breakpoint($extra-small) {
      margin-bottom: 1.6rem;
    }
  }

  &__text {
    font-size: 1.6rem;

    @include breakpoint($extra-small) {
      font-size: 1.2rem;
    }
  }

  &__phone {
    margin-right: 0.26rem;
  }

  &__contacts {
    margin-top: 1.5em;
    font-size: 1.06rem;

    @include breakpoint($extra-small) {
      margin-top: 0.666em;
      font-size: 0.8rem;
    }
  }

  &__social {
    margin-top: 1rem;

    a {
      outline: none;
    }

    & > a:first-child {
      display: inline-block;
      text-decoration: none;
      margin-right: 0.6rem;
    }

    @include breakpoint($extra-small) {
      margin-top: 0.533rem;
    }
  }

  &__icon {
    fill: $orange;
    transition: fill 0.2s linear;
  }

  a:hover &__icon,
  a:focus &__icon {
    fill: $yellow-orange;
  }

  &__copyright {
    margin-top: 2.833em;
    font-size: 0.8rem;
  }
}
