header {
    padding: 25px 0 72px;
    height: 465px;
    background: url('../img/header/bg.png') center no-repeat;

    background-size: cover;
}

.header__intro {
    width: 100%;
    max-width: 52.333rem;
}