.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.is-open {
  opacity: 0;
  pointer-events: none;
}

.visibility {
  visibility: hidden;
}
