.modal-inner {
    padding: 1.6rem 1.6rem 2.4rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint($extra-small) {
        padding: 1.06rem 1.06rem 1.6rem;
    }

    @include breakpoint($mobile) {
        padding: 2.133rem .666rem;
    }

    &__title {
        margin-bottom: .6em;

        font-size: 2.67rem;
        font-weight: 600;

        @include breakpoint($extra-small) {
            margin-bottom: .57em;
            font-size: 1.87rem;
        }

        @include breakpoint($mobile) {
            margin-bottom: .428em;
        }
    }

    &__direction {
        display: flex;
        
        @include breakpoint($mobile) {
            flex-wrap: wrap;
        }
    }

    &__left {
        margin-right: 1.06rem;

        @include breakpoint($extra-small) {
            margin-right: .53rem;
            width: 45.92%;
        }

        @include breakpoint($mobile) {
            margin-right: 0;
            margin-bottom: 1.066rem;
            width: 100%;
        }
    }

    &__photo {
        border-radius: 1.066rem;

        @include breakpoint($mobile) {
            max-height: 15.466rem;
            width: 100%;
        }
    }

    &__right {
        margin-bottom: 2.53rem;
        width: 54.09%;

        @include breakpoint($extra-small) {
            margin-bottom: 1.63rem;
            width: 52.422%;
        }

        @include breakpoint($mobile) {
            margin-bottom: 3rem;
            width: 100%;
        }
    }

    &__text {
        margin-bottom: .63em;
        font-size: 1.06rem;

        @include breakpoint($extra-small) {
            margin-bottom: .83em;
            font-size: .8rem;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: .2em;
        font-size: .8rem;

        &:nth-last-of-type(2),
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-bottom: .4em;
            font-weight: 600;
        }

        &:last-child {
            margin-top: .4em;
            color: $metallic;
        }

        @include breakpoint($extra-small) {
            font-size: .67rem;
        }
    }

    &__price {
        margin-left: auto;
        font-size: 1.6rem;
        font-weight: 600;

        @include breakpoint($extra-small) {
            font-size: 1.066rem;
        }

        @include breakpoint($mobile) {
            margin-top: 1em;
        }
    }
}