.order {
    margin-top: 1em;
    font-size: .8rem;

    &__product {
        padding: 1.33em 0;
        border-top: .083em solid $gray;
    }

    &__img {
        margin-right: .5em;
        width: 5.33em;
        height: 4.33em;

        border-radius: .67em;
    }

    &__name {
        margin-bottom: .083em;
    }

    &__weight {
        margin-bottom: .5em;
        color: $metallic;
    }

    &__block {
        padding-top: 1em;
        margin-bottom: 1.5em;
        font-size: 1.06rem;
        border-top: .063em solid $gray;

        @include breakpoint($extra-small) {
            font-size: .8rem;
        }
    }

    &__delivery {
        @include breakpoint($extra-small) {
            font-size: .666rem;
        }
    }

    &__svg {
        margin-right: .67em;
    }
}