.products {
    padding: 5rem 0 4.666rem;

    @include breakpoint($large-tablets) {
        padding-top: 9rem;
        position: relative;
    }

    @include breakpoint($extra-small) {
        padding: 6rem 0 4rem;
    }

    &__inner {
        display: flex;
    }

    &__items {
        height: 100%;

        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint($large-tablets) {
            padding-top: 3rem;
        }
    }

    &__title {
        position: absolute;
        top: -5rem;
        left: 0;

        font-size: 2.66rem;
        font-weight: 600;

        @include breakpoint($large-tablets) {
            top: -1rem;
        }

        @include breakpoint($extra-small) {
            font-size: 1.866rem;
            top: 0;
        }
    }

    &__item {
        margin-bottom: 2rem;
        margin-right: 2rem;
        padding: .8rem .8rem;

        width: 100%;
        max-width: 20rem;
        height: 27.313rem;

        background-color: $white;
        border-radius: 1.2rem;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        @include breakpoint($desktops) {
            height: auto;

            &:nth-of-type(3n) {
                margin-right: 2rem;
            }

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }

        @include breakpoint($large-tablets) {
            width: 11.2rem;

            &:nth-of-type(2n) {
                margin-right: 2rem;
            }
        }

        @include breakpoint($extra-small) {
            padding: .266rem .266rem;
            margin-right: 1.333rem;
            margin-bottom: 1.333rem;
            width: 9.666rem;

            &:nth-of-type(2n),
            &:nth-of-type(3n) {
                margin-right: 1.333rem;
            }
        }

        @include breakpoint($mobile) {
            margin-right: .666rem !important;
            margin-bottom: .666rem;
            width: 9.5rem;

            &:nth-of-type(2n) {
                margin-right: 0 !important;
            }
        }
    }

    &__img {
        margin-bottom: 1.066rem;

        transition: transform .2s linear;

        &:hover {
            transform: scale(1.03);
        }

        @include breakpoint($extra-small) {
            margin-bottom: .666rem;
        }
    }

    &__price {
        margin-bottom: .33em;

        font-size: 1.6rem;
        line-height: 1;
        font-weight: 600;

        @include breakpoint($extra-small) {
            margin-bottom: .25em;
            font-size: 1.066rem;
        }
    }

    &__name {
        margin-bottom: 1.81em;
        font-size: 1.06rem;

        @include breakpoint($large-tablets) {
            font-size: .9rem;
        }

        @include breakpoint($extra-small) {
            margin-bottom: 1.333em;
            font-size: .8rem;
        }
    }

    &__weight {
        margin-bottom: .5em;

        font-size: 1.06rem;
        font-weight: 600;
        color: $metallic;

        @include breakpoint($extra-small) {
            margin-bottom: .583em;
            font-size: .8rem;
        }
    }
}