@import "vars";
@import "mixins";

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap/bootstrap-utilities";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/containers";
@import "bootstrap/grid";

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Nunito", sans-serif;
  color: $black;
  background-color: $bg-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: transparent;
}

::selection {
  background-color: $orange;
  color: $white;
}

// Blocks
@import "blocks/header";
@import "blocks/menu";
@import "blocks/products";
@import "blocks/basket";
@import "blocks/order";
@import "blocks/counter";
@import "blocks/btn";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-counter";
@import "blocks/form";
@import "blocks/modal-inner";

// Helpers
@import "blocks/helpers";
